/*通用类*/
* {
	margin: 0;
	padding: 0;
}

/* 捏导航栏 */
body {
	font-size: 100%;
	line-height: 160%;
	word-break: break-all;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  	font-weight: 400;
  	color: #212529;
  	text-align: left;
  }

  #menu {
	width: 100%;
	height: 80px;
	padding: 10px 30px 10px;
	box-sizing: border-box;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
	position: fixed;
	top: 0;
	background:wheat;
	z-index: 99;
	margin: 0;
	display: block;
  }

  #menu .head {
	display: flex;

	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	
  }

  #menu .title-nav{
	width: 200px;
	line-height: 60px;
	font-weight: 600;

	font-size: 28px;
	font-family: "Microsoft YaHei";

	background: none;
  }



  #menu ul {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
 	padding: 0;
  	list-style: none;

	border: 0px;
  }

  #menu li {
	list-style: none;
	width: 120px;
	text-align: center;
	margin: 0;
  	padding: 0;
	display: list-item;
	border: 0px;
  }

  #menu a {
	display: block;
	line-height: 60px;
	padding: 0 14px;
	text-decoration: none;
	color: #000;

	font-size: 18px;
	font-family: "Microsoft YaHei";

	background-color: transparent;
	outline: none;
  }


  #menu ul.sub-menus {
	height: auto;
	overflow: hidden;
	width: 120px;
	background: #a99999;
	position: absolute;
	z-index: 99;
	display: none;
  }

  #menu ul.sub-menus a {
	color: #ffffff;
	font-size: 16px;
	line-height: 40px;
  }

  #menu a.dropdown-arrow::after {
	content: "\25BE";
  
	margin-left: 5px;
  
	font-size: 30px;
  
	position: absolute;
  
  }

  #menu li a:hover {
    border-bottom: 2px solid rgb(248, 188, 49);
  }


  #menu li:hover ul.sub-menus {
    display: block;
  }
  
  #menu ul.sub-menus a:hover {
    background: #f2f2f2;
    color: #444444;
    border-bottom: none;
  }

body {
	background-image: url("bg.jpg");
	min-width: 1000px;
	margin: 0 auto;
	font-size: 24px;
	/* font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif; */
	font-family: "华文楷体";
	font-size: 24px;;
	/* background: #fff; */
	text-align: justify;
	color: #010000;
	position: relative;

	background-repeat: no-repeat;/* 设置背景固定 */
  	background-size: cover;
  	background-attachment: fixed;

	caret-color: transparent;/* 设定光标隐藏 */
}
h1, h2, h3 {
	font-weight: 500;
}
img {
	border: none;
}
a {
	cursor: pointer;
	color: #333;
	text-decoration: none;
	outline: none;
}
ul {
	list-style-type: none;
}
em {
	font-style: normal;
}
.lt {
	float: left;
}
.rt {
	float: right;
}
div.clear {
	font: 0px Arial;
	line-height: 0;
	height: 0;
	overflow: hidden;
	clear: both;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.head-placeholder{
    margin-top: 100px;
}

/*wrapin 主体容器宽度*/
.wrapin {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
/*公用CSS 开始*/



.select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 

  background-color: rgba(245,222,179, 0.7);
  border-radius: 20px;
  
  margin-top: 120px;
  margin-bottom: 50px;

}

.select-box .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 

  margin-top: 50px;
  margin-bottom: 50px;
}

.select-box img {
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;

  border-radius: 50%;

  transition: transform 1s;
}

.select-box img:hover{
	transform: rotateY(180deg);
}

.select-box p {
  text-align: center;
  font-size: 20px;

  color: black;
  transition: color 1ms;
}

.select-box p:hover{
	color: orange;
}

  
.in_com {
	background: rgba(255,255,255,0.7);
	padding: 15px;
	display: block;
}
.con_top .pic {
	width: 300px;
	float: left;
}
.con_top .pic img {
	width: 100%;
}
.con_top .text {
	float: right;
	width: 650px;
	line-height: 28px;
	color: #333;
}
.title {
	background: tan;
	line-height: 40px;
	padding: 0 15px;
	margin: 20px 0;
}
.title h2 {
	font-size: 20px;
	color: #fff;
}

/* 容器内包含若干文字+图片，图片显示在最右侧*/
.culture-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;

	background-color: rgba(245,222,179, 0.7);
  	border-radius: 20px;
  }
  
  .culture {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	padding: 10px;
	margin: 20px;
  }
  
  .culture-text {
	display: flex;
	flex-direction: column;
  }

  .culture-text p{
	text-indent: 2em;
  }
  
  .culture-image {
	margin-left: 40px;
	flex-direction: row;
  }

  .culture-image img{
	margin-top: 20px;
	transition: all 0.2s;
  }

  .culture-image img:hover{
	transform: scale(1.5);
  }
  


footer {
	background: wheat;
	line-height: 60px;
	padding: 0 15px;
	text-align: center;
	font-size: 14px;
	color: #000;
}

/* 风景名胜滚动图 */
/* 1. 样式重置 */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

/* 外层盒子样式,左右箭头和小圆点都要采用绝对定位，所以其父盒子要采用相对定位*/
.banners {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 600px;
    
	margin-top: 120px;
	margin-bottom: 50px;

	border-radius: 20px;

	background-color:rgba(255,255,255,0.5);

}
/*滚动区 包裹所有图片的盒子 宽度要足够宽可以放下所有的图片*/
.images {
    position: absolute;
    top: 50px;
    left: 0;
    width: 700%;
}
/* 对图片使用浮动 使其排列在一行*/
.images li{
    float: left;
}
/* 图片大小会撑大盒子,设置图片大小 */
.banners img {
    width: 980px;
    height: 500px;

	margin-left: 10px;
	margin-right: 10px;
}
/*左右箭头相同样式*/
.prev,
.next {
    display: none;
    position: absolute;  
    /* 绝对定位的盒子垂直居中 */
    top: 50%;
    margin-top: -15px;
    width: 20px;
    height: 30px;
    background: rgba(0,0,0, .3);
    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration: none; 
}
/*左箭头靠左定位*/
.prev {
    left: 0;
     /* 设置圆角 */
     border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*右箭头靠右定位*/
.next {
    right: 0;
    /* 设置圆角 */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/* 小圆点外层盒子的样式 */
.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -35px;
    height: 13px;
    background:rgba(255,255,255, .3);
    border-radius:7px;
}
/* 小圆点样式*/
.dots li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}
/* 小圆点被点击的样式 */
.dots .active {
    background-color: #ff5000;
}



.pic_con {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;

	background-color: rgba(154, 226, 248, 0.8);
  	border-radius: 20px;
}
.pictures{
	padding: 10px;
	margin: 20px;

	padding-bottom: 15px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 15px;
}
.pictures-title{
	background-color: rgb(245,222,179);
}
.pictures li {
	float: left;
	width: 33.333%;
	box-sizing: border-box;
	padding: 15px;

	transition: all 0.2s;
}
.pictures li img {
	width: 100%;
	height: 240px;
	object-fit: cover;
}

.pictures li:hover{
	transform: scale(1.2);
}

/* 容器内包含若干文字+图片，图片显示在最左侧*/
.attraction-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;

	background-color: rgba(154, 226, 248, 0.8);
  	border-radius: 20px;
  }
  
  .attraction {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	padding: 10px;
	margin: 20px;

	padding-bottom: 15px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 15px;
  }
  
  .attraction-text {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
  }

  .attraction-text p{
	text-indent: 2em;
  }
  
  .attraction-image{
	margin-left: 20px;
	flex-direction: row;
  }

  .attraction-image img{
	margin-top: 20px;

	transition: all 0.2s;
  }

  .attraction-image img:hover{
	transform: scale(1.5);
  }